<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duksung.studywithme">


    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.SearchActivity"></activity>
        <activity android:name=".activity.TestBActivity" />
        <activity android:name=".activity.TestAActivity">

            <!-- 앱 실행시, 맨 처음에 보여지는 화면 설정. ex) 로딩화면 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>